/*
.class1 {
    color: gray;
}

.class2 {
    color: white;
    text-shadow: 2px 3px 1px black, 3px 4px 5px gray;
}
*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    background-color: black;
    background-size: cover;
}

.text {
    font: bold 15vh/0 'Source Code Pro', monospace;
    letter-spacing: 6vw;
    text-shadow: 0 0 1vh white, 0 0 2vh #00dbf0;
}

.color {
    color: black;
    text-shadow: 0 0 1vh white, 0 0 2vh #00dbf0;
}

